# Datos generados por docker-compose del PI 
volumesOdoo/ 
 
# Python/Odoo 
**/__pycache__/ 
**/*.pyc 
**/*.pyo 
 
# SO/IDE 
.DS_Store 
Thumbs.db 
.vscode/ 
.idea/ 

# ===============================
# Android Studio / IntelliJ
# ===============================
.idea/
*.iml

# ===============================
# Gradle
# ===============================
.gradle/
build/
*/build/

# ===============================
# Archivos locales (NO compartir)
# ===============================
local.properties

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Archivos temporales / cache
# ===============================
captures/
.externalNativeBuild/
.cxx/

# ===============================
# Sistema Operativo
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Kotlin
# ===============================
*.kotlin_module

# ===============================
# APK / AAB generados
# ===============================
*.apk
*.aab
*.ap_

# ===============================
# Test outputs
# ===============================
out/

 
